.spinner {
  width: 100%;
}

.loader {
  margin: 0 auto;
  width: 2.1rem;
  height: 2.1rem;
  border: 3px solid #1d9bf030;
  border-bottom-color: var(--active-color);
  border-radius: 50%;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
