.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  min-width: 22.7rem;
  padding-right: 2rem;
  margin-top: 1.5rem;
  height: 94vh;
}
.header img {
  width: 2rem;
}

.icon {
  width: 4rem;
}

.icon img {
  width: 1.6rem;
  margin-top: 0.2rem;
}

.header ul {
  margin: 1.4rem auto;
  padding: 0;
}

.header li {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 1.1rem 0;
  cursor: pointer;
}

.header button {
  width: 100%;
}
