.header {
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  height: 98vh;
  min-width: 22.7rem;
}

.header img {
  width: 2rem;
}

.icon {
  width: 1.7rem;
}

.icon img {
  width: 1.6rem;
}

.header nav {
  margin-bottom: 1rem;
}

.header nav svg {
  height: auto;
  width: 2rem;
}

.header nav button {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 1.6rem;
  padding: 1.2rem 2.1rem 1.2rem 1.2rem;
}

button.post-btn {
  padding: 1.5rem 8.5rem;
}

.logo {
  margin: 0.5rem 0;
  border-radius: 50%;
}
