.post {
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.16);
  padding: 1rem 1.5rem;
  display: flex;
  gap: 1rem;
}

.post img {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.content {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.title {
  display: flex;
  justify-content: space-between;
}

.title p {
  margin: 0;
  text-transform: capitalize;
}

.title span {
  opacity: 0.5;
  text-transform: lowercase;
}

.container button {
  opacity: 0.5;
  background-color: transparent;
  padding: 0;
  transition: opacity 150ms linear;
}

.container button:hover {
  opacity: 1;
}

.thepost {
  margin: 0.5rem 0;
  font-size: 1.44rem;
}

.like {
  display: flex;
  align-items: center;
}

.nolike,
.like button {
  text-align: left;
  max-width: fit-content;
  padding: 0.6rem;
  margin-left: -0.6rem;
}

.like button {
  color: #f91880;
}

.nolike {
  opacity: 0.5;
}

.nolike:hover,
.like button:hover {
  opacity: 1;
  color: #f91880;
  background-color: rgba(249, 24, 129, 0.12);
}

.nolike:active,
.nolike button:active {
  opacity: 1;
  color: #f91880;
  background-color: rgba(249, 24, 129, 0.25);
}

.like span {
  color: #f91880;
  font-size: 1.25rem;
}
