.sidebar {
  min-width: 34.3rem;
  padding: 0.5rem 0.8rem 0.5rem 2.5rem;
}

.search {
  position: relative;
}

.search input {
  background-color: #273340;
  border: 0.1rem solid #273340;
  border-radius: 18rem;
  color: var(--white-color);
  border: 0;
  width: 100%;
  padding: 1.1rem 5rem;
}

.search input:focus {
  border: 0;
  border: 0.1rem solid var(--active-color);
  background-color: transparent;
  outline: none;
}

.search input::placeholder {
  color: #8794a1;
}

.zoom-icon {
  color: #8794a1;
  position: absolute;
  width: 1.4rem;
  left: 1.8rem;
  top: 1rem;
}

.x-icon {
  color: #8794a1;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}
