.body {
  max-width: 29rem;
  margin: 3rem auto;
}

.body form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.body input {
  background-color: transparent;
  border: 0.1rem solid #536471;
  border-radius: 0.5rem;
  padding: 1.6rem 0.7rem;
  color: white;
}

.body input:focus {
  border: 0.15rem solid var(--active-color);
  outline: none;
}

.body input::placeholder {
  color: #748694;
  font-size: 1.5rem;
}

.body button {
  background-color: #eff3f4;
  color: #16202a;
  font-size: 1.3rem;
  padding: 0.8rem 0;
}

.footer {
  max-width: 29rem;
  font-size: 1.3rem;
  color: #748694;
  gap: 0.5rem;
  margin: 3rem auto;
}

.footer button {
  font-size: 1.3rem;
  background-color: transparent;
  margin: 0;
  padding: 0;
  font-weight: 400;
  color: var(--active-color);
}
