.user {
  position: relative;
}

button.user-btn {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  font-weight: normal;
  text-align: left;
  border-radius: 5rem;
  padding: 1rem;
  color: var(--white-color);
  transition: background 200ms linear;
}

button.user-btn:hover {
  background-color: #f7f9f91a;
}

button.user-btn:active {
  background-color: #f7f9f93b;
}

.user-option {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1rem;
}

.user-option svg {
  width: 90%;
}
