.user {
  position: relative;
}

.user-option {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1rem;
}

.user-option svg {
  width: 90%;
}

.user-btn {
  display: flex;
  justify-content: space-between;
  text-align: left;
  gap: 1rem;
  width: 96%;
}
