.user-content {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.user-content img {
  width: 3.5rem;
  border-radius: 50%;
}

.user-text p {
  margin: 0;
  font-size: 1.4rem;
  text-transform: capitalize;
}

.user-text p:last-child {
  opacity: 0.5;
  text-transform: lowercase;
}
