.user {
  position: relative;
}

.user-option {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1rem;
}

.user-option svg {
  width: 90%;
}

.user-btn {
  display: flex;
  justify-content: space-between;
  text-align: left;
  gap: 1rem;
  width: 5.5rem;
}

@media (min-width: 1300px) {
  .user-btn {
    width: 96%;
  }
}

.detail p {
  display: none;
}

@media (min-width: 1300px) {
  .detail p {
    display: inline;
  }
}
